<div id="header"><header>Welcome to the SSH Key Helper Page</header></div>
<div class="sshgen">
<form action="/generate" id="sshgen" method="post">
    <label for="type">Type:</label>
    <select id="type" required />
      <option value='rsa' selected="selected">rsa</option>
    </select>
    <br />
    <br />
    <label for="comment">Comment:</label>
    <input type='text' id="comment" required />
    <br />
    <br />
    <label for="password">Password:</label>
    <input type='password' id="password" required />
    <br />
    <br />
    <input id="generate" type="submit" value="generate" />
    <input id="cancel" type="reset" value="cancel" />
</form>
</div>
<footer id="footer"</footer>
